.clear {
  clear: both;
  height: 0;
  line-height: 0;
  overflow: hidden; }

.desp-5 {
  clear: both;
  height: 5px;
  line-height: 5px;
  overflow: hidden; }

.desp-10 {
  clear: both;
  height: 10px;
  line-height: 10px;
  overflow: hidden; }

.kisphp-calendar {
  font-size: 20px; }
  .kisphp-calendar .float {
    float: left; }
  .kisphp-calendar .col {
    border: 1px solid #ccc;
    margin: 1px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px; }
    .kisphp-calendar .col .active {
      background: #369;
      color: #fff; }
  .kisphp-calendar .row-top .middle {
    width: 316px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin: 1px;
    border: 1px solid #ffffff; }
  .kisphp-calendar .row-top .prev-next {
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin: 1px;
    border: 1px solid #ffffff; }
  .kisphp-calendar .row-head .col, .kisphp-calendar .row-top .col {
    height: 60px;
    line-height: 60px;
    font-size: 18px; }
  .kisphp-calendar .out {
    color: #ccc; }
