{% extends '@Calendar/Demo/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="kisphp-calendar">
            {% include '@Calendar/Demo/calendar-navigation.html.twig' %}
            {% include '@Calendar/calendar.html.twig' %}
        </div>
    </div>

{% endblock %}
