$column_width: 60px !default;
$column_height: 60px !default;
$font-size: 20px !default;
$active_background: #369 !default;
$active_color: #fff !default;
$border_color: #ccc !default;
$out_text_color: #ccc !default;

@import "mixins";

.clear {
  @include cls(0);
}

.desp-5 {
  @include cls(5px);
}

.desp-10 {
  @include cls(10px);
}

.kisphp-calendar {
  font-size: $font-size;

  .float {
    float: left;
  }

  .col {
    border: 1px solid $border_color;
    margin: 1px;
    width: $column_width;
    height: $column_height;
    line-height: $column_height;
    text-align: center;
    font-size: $font-size;

    .active {
      background: $active_background;
      color: $active_color;
    }
  }

  .row-top {
    .middle {
      @include column(($column_width * 5) + (3 * 5) + 1, $column_width);
    }

    .prev-next {
      @include column($column_width, $column_width);
    }
  }

  .row-head, .row-top {
    .col {
      height: $column_height;
      line-height: $column_height;
      font-size: $font-size - 2;
    }
  }

  .out {
    color: $out_text_color;
  }
}
